{% extends "card_inner.html" %}
{% block title %}
  {{fed_data.title}}
{% endblock %}
{% block main_body %}
<div class="form-group pipeline-form-container">
  {{fed_data.form.as_p}}
</div>
{% endblock %}
{% block second_body %}
  <h6>Created By</h6>
  {{fed_data.user}}
{% endblock %}
{% block footer %}
  <button type="button" class="btn btn-success submit_ajax_steps">
    Submit</button>
  <button type="button" class="addCard btn btn-primary">
    Add Step</button>
{% endblock %}
